##################################################
# Jupyter
##################################################

**/.ipynb_checkpoints/
**/.virtual_documents/

##################################################
# Python
##################################################

__pycache__/
*.pyc

##################################################
# LTspice
##################################################

*.raw
*.op.raw
*.log

##################################################
# KiCad - Backups
##################################################

*.kicad_pri

##################################################
# Backups
##################################################

**/*-backups/

##################################################
# Comprimidos
##################################################

*.zip

##################################################
# Sistema
##################################################

*~
